<div class="col-md-5 col-md-offset-5 container mt-5">
  <h2 class="text-center">Inicio de sesión</h2>
  <p class="text-center mb-5">Introduzca su usuario y contraseña para acceder</p>
  <form [formGroup]="form" (ngSubmit)="loginUser()" class="form">
    <div class="form-group mb-4">
      <label for="firstName">Usuario</label>
      <input type="text" name="username" class="form-control" formControlName="username" />
      <hr class="hr-line">
      <div class="input-group-append form__required" *ngIf="form.get('username').invalid">
        <span class="colorInvalid">
          <i>Username is required</i>
        </span>
      </div>
    </div>
    <div class="form-group mb-4">
      <label for="firstName">Contraseña</label>
      <input type="password" name="password" class="form-control" formControlName="password" />
      <hr class="hr-line">
      <div class="input-group-append form__required" *ngIf="form.get('password').invalid">
        <span class="colorInvalid">
            <i>Password is required</i>
        </span>
    </div>
    </div>
    <div class="buttons">
      <button type="submit" [disabled]="form.invalid" class="btn buttons__login">Iniciar sesión</button>
      <div class="text-center">
        <span class="buttons_span">¿Aún no tienes una cuenta?</span> <a routerLink="/register"
          class="btn buttons__link">Regístrate</a>
      </div>
    </div>
    <div class="input-group-append" *ngIf="unregistered">
      <span class="color-invalid">
        <i>Credenciales no válidas</i>
      </span>
    </div>
  </form>
</div>
