<div class="col-md-4 col-md-offset-4 container mt-5">
  <h2 class="text-center mb-5">Registro</h2>
  <form [formGroup]="form" (ngSubmit)="registerUser()">
    <div class="form-group mb-4">
      <label for="firstName">Nombre</label>
      <input type="text" name="firstName" class="form-control" formControlName="firstName" />
      <hr class="hr-line">
      <div class="input-group-append form__required" *ngIf="form.get('firstName').invalid">
        <span class="colorInvalid">
          <i>FirstName is required</i>
        </span>
      </div>
    </div>
    <div class="form-group mb-4" ng-class="{ 'has-error': form.lastName.$dirty && form.lastName.$error.required }">
      <label for="lastName">Apellidos</label>
      <input type="text" name="lastName" class="form-control" formControlName="lastName" />
      <hr class="hr-line">
      <div class="input-group-append form__required" *ngIf="form.get('lastName').invalid">
        <span class="colorInvalid">
          <i>LastName is required</i>
        </span>
      </div>
    </div>
    <div class="form-group mb-4" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
      <label for="username">Usuario</label>
      <input type="text" name="username" class="form-control" formControlName="username" />
      <hr class="hr-line">
      <div class="input-group-append form__required" *ngIf="form.get('username').invalid">
        <span class="colorInvalid">
          <i>Username is required</i>
        </span>
      </div>
    </div>
    <div class="form-group mb-4" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
      <label for="email">Email</label>
      <input type="email" name="email" class="form-control" formControlName="email" />
      <hr class="hr-line">
      <div class="input-group-append form__required" *ngIf="form.get('email').invalid">
        <span class="colorInvalid">
          <i>Email is required</i>
        </span>
      </div>
    </div>
    <div class="form-group mb-4" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
      <label for="password">Contraseña</label>
      <input type="password" name="password" class="form-control" formControlName="password" />
      <hr class="hr-line">
      <div class="input-group-append form__required" *ngIf="form.get('password').invalid">
        <span class="colorInvalid">
          <i>Password is required</i>
        </span>
      </div>
    </div>
    <div class="buttons">
      <button type="submit" [disabled]="form.invalid" class="btn buttons__login">Registrar</button>
      <button type="button" class="btn buttons__register" routerLink="/">Cancelar</button>
    </div>
  </form>
</div>
